---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
export async function getStaticPaths() {
  const blogList = await Astro.glob("../posts/*.md");
  const uniqueTagList = blogList.reduce((pre,current) => {
    const {frontmatter:{tags}} = current;
    if (tags?.length) {
      pre = new Set([...pre,...tags])
    }
    return Array.from(pre)
  },[]);
  return uniqueTagList.map(v => ({params: {tag: v},props:{posts: blogList.filter(blog => blog.frontmatter.tags.includes(v))}})) 
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
<p>包含「{tag}」标签的文章</p>
{
    posts.length &&
    posts.map(v => <BlogPost url={v.url} title={v.frontmatter.title}></BlogPost>)
}
</BaseLayout>